html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.circle {
    background: lightblue;
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;
    width: 100px;
    height: 100px;
}


.alt-circle {
    background: lightyellow;
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;
    width: 100px;
    height: 100px;
}